<div class="wrapper-payment">
    <h3 class="wrapper-payment-sub-heading text-red">PAYMENT DETAILS</h3>
    <p class="wrapper-payment-desc wrapper-text-light">Complete your purchase by providing your payment details.</p>
    <div class="payment-form">
        <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">

            <div class="payment-form-card-holder">
                <div>
                    <label>Email</label>
                </div>
                <mat-form-field>
                    <mat-label></mat-label>
                    <input matInput formControlName="email">
                </mat-form-field>
            </div>

            <div class="payment-form-card-holder">
                <label for="cardDetails">Card Details</label>
                <div class="payment-form-card-details">
                    <app-date-picker></app-date-picker>
                    <mat-form-field class="payment-form-card-cvc">
                        <mat-label>CVC</mat-label>
                        <input matInput formControlName="cvc" id="cvc">
                    </mat-form-field>
                </div>
            </div>
            <div class="payment-form-card-holder">
                <div>
                    <label>Card Holder Name</label>
                </div>
                <mat-form-field>
                    <mat-label></mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>
            </div>
           
            <div class="payment-form-card-holder">
                <label for="billing-address">Billing Address</label>
                <input type="text" id="billing-address" formControlName="billingAddress" class="form-control" />
            </div>
            <div class=" payment-form-card-details">
                <div class="full-width zip-code">
                    <label for="state">State</label>
                    <mat-form-field>
                        <mat-label>Select state</mat-label>
                        <mat-select formControlName="state">
                            <mat-option *ngFor="let state of stateList" value="state.name">{{ state.name }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="full-width zip-code">
                    <label for="zip-code" >ZIP Code</label>
                    <mat-form-field class="payment-form-card-cvc ">
                        <input matInput #input formControlName="zipCode"  >
                    </mat-form-field>
                </div>
            </div>
            <button type="submit" class="btn btn-block payment-form-btn-submit">Pay
                <span>&#x20B9;</span> 80,230.00 </button>
        </form>
        <p class="one-liner">
            <img src="../../../assets/lock_outline.svg" alt="">
            Payments are secure and encrypted</p>
    </div>
</div>