@import '../../../styles.scss';

.wrapper-payment {
	margin-top:40px;

	@media screen and (max-width:1024px)  {
		// padding: 0 30px;
	}
    &-sub-heading {
    font-size: 14px;
    font-weight: bold;
    @extend .text-red;
	
	}

	&-desc {
		font-size: 12px;
	}
}
.payment-form {
	 mat-form-field {
		width: 100%;
	}
	app-date-picker {
		@media screen and (max-width:640px){

			width: 100%;
		}
	}
	form {
		width:400px;
		@media screen and (max-width:768px) {
			width:100%
		}
	}
	label {
		font-size: 12px;
		font-weight: 600;

	}
	.form-control {
		border:none;
		border-bottom : 1px solid $color-grey;
		font-size:12px;
		margin-bottom: 20px;
		border-radius: 0;
		font-weight: 400;
		padding: 0;
		
		&:focus {
			outline: none;
			box-shadow: none;
		}
	}
	&-card-details {
		display:flex;
		align-items: baseline;
		margin-bottom: 25px;
		@media screen and (max-width:640px) 
		 {
			flex-wrap: wrap;
		}
	}
	&-card-cvc {
		@media screen and (max-width:640px){
			margin-left: 0;
		}
		margin-left: 10px;
	}
	&-btn-submit {
		background-color: $color-red;
		color:$bg-color-white;
		opacity: 1;
		font-size: 20px;
		font-weight: bold;
		border-radius: 30px;
		span {
			font-weight: 100;
		}
		&:focus {
			box-shadow: none;
			color:white;
		}
	}
	&-card-holder {
		margin-bottom: 25px;
	}
	.full-width {
		width: 100%;
	}
	.zip-code {
		margin-top: 15px;
	}
}