<div class="review">
    <div class="review-container">
        <div class="review-user-info">
            <img src="../../../assets/avatar3.jpeg" alt="" class="avatar">
            <p class="review-user-name">Amit Jadhav</p>
        </div>
        <div class="review-ratings">
            <ngb-rating [max]="4" [(rate)]="currentRate">
                <ng-template let-fill="fill" let-index="index">
                    <span class="star" [class.filled]="fill === 100" >&#9733;</span>
                </ng-template>
            </ngb-rating>

        </div>
        
        <p class="review-title">Another Fabulous IPhone ( IPhone 12, Blue 64GB)</p>
        <p class="review-description">Another beauty from Apple. I was upgraded from iPhone X and it was great experience.</p>
    </div>
    <div class="review-container">
        <div class="review-user-info">
            <img src="../../../assets/avatar4.png" alt="" class="avatar">
            <p class="review-user-name">Amit Jadhav</p>
        </div>
        <div class="review-ratings">
            <ngb-rating [max]="4" [(rate)]="currentRate">
                <ng-template let-fill="fill" let-index="index">
                    <span class="star" [class.filled]="fill === 100" >&#9733;</span>
                </ng-template>
            </ngb-rating>

        </div>
        
        <p class="review-title">Another Fabulous IPhone ( IPhone 12, Blue 64GB)</p>
        <p class="review-description">Another beauty from Apple. I was upgraded from iPhone X and it was great experience.</p>
    </div>
    <div class="review-container">
        <div class="review-user-info">
            <img src="../../../assets/avatar1.png" alt="" class="avatar">
            <p class="review-user-name">Amit Jadhav</p>
        </div>
        <div class="review-ratings">
            <ngb-rating [max]="4" [(rate)]="currentRate">
                <ng-template let-fill="fill" let-index="index">
                    <span class="star" [class.filled]="fill === 100" >&#9733;</span>
                </ng-template>
            </ngb-rating>

        </div>
        
        <p class="review-title">Another Fabulous IPhone ( IPhone 12, Blue 64GB)</p>
        <p class="review-description">Another beauty from Apple. I was upgraded from iPhone X and it was great experience.</p>
    </div>
    <div class="review-container">
        <div class="review-user-info">
            <img src="../../../assets/avatar2.png" alt="" class="avatar">
            <p class="review-user-name">Amit Jadhav</p>
        </div>
        <div class="review-ratings">
            <ngb-rating [max]="4" [(rate)]="currentRate">
                <ng-template let-fill="fill" let-index="index">
                    <span class="star" [class.filled]="fill === 100" >&#9733;</span>
                </ng-template>
            </ngb-rating>
        </div>
        
        <p class="review-title">Another Fabulous IPhone ( IPhone 12, Blue 64GB)</p>
        <p class="review-description">Another beauty from Apple. I was upgraded from iPhone X and it was great experience.</p>
    </div>
</div>
