@import '../styles.scss';

// sec description


.section {
    display:flex;
    min-height: 100vh;
    $bg-color-white : #FFFFFF;

    @media screen and (max-width:768px) {
        flex-direction: column;
    }
}
.wrapper{
    display: flex;
    flex-direction: column;
    flex:1;

    &-desc {
        background-color: $bg-color-grey;
        // align-items: center;
    }

    &-box {
        margin:40px 60px;
		padding: 15px 30px ;
		@media screen and (max-width:639px)  {
			padding: 15px;
			margin: 15px;
		}
		@media screen and (max-width:768px) and (min-width:640px) {
			margin:40px 85px;
			padding: 15px 45px;

		}
		@media screen and (max-width:1366px) and (min-width:1320px) {
			margin: 40px 45px;
			padding: 15px 45px;
		}
		@media screen and (max-width:1440px) and (min-width:1370px) {
        margin:40px 65px;
		padding: 15px 50px;
		}
    }
	&-product-overview {
        text-align: center;
	}
	&-product-feature {
		// padding :0 45px;
		
		@media screen and (min-width:px) and (max-width:1440px) {
			
			padding: 0 ;
		}
		// @media screen and (max-width:1367px) and (min-width:1280px) {
			
   		// 	 padding: 0 20px;
		// }
	}
	&-product-info {
		display: flex;
		justify-content: space-between;
		color: $color-red;
		font-weight: 800;
		margin-top: 40px;
		font-size:14px ;
		&-text {
			margin-bottom:10px;
		}
	}
  
	&-carousel{
		@media screen and (max-width: 1366px) and (min-width:1030px) {
			max-width: 500px;
		}
		padding: 0 40px;
	}
    &-sub-heading {
        font-size: 14px;
        font-weight: bold;
        @extend .text-red;
    }
    
    &-main-heading {
        font-weight: bold;
    }
    
    &-content{
        font-size: 12px;
		margin-top:25px;
    }
	&-product-content {
		font-size: 14px;
		line-height: 1.5;
		margin-top: 25px;
		padding:5px 0;
		list-style: none;
		color: #6D6D6D;
		text-align: justify;
		@media screen and (max-width:1440px) and (min-width:769px) {
			padding: 0;
		}
		
		li {
			margin-top: 10px;
			text-indent: -18px;
    		margin-left: 18px;
		}
		li:before{
			content: "";
			height: 7px; 
			width: 7px;
			list-style-position: inside;
			background-color: black;
			display: inline-block;
			border-radius: 50%;
			margin-right: 10px;
		}
	}
	&-product-content-heading {
		font-weight: 500;
		color: black;
	}
    // review section
    &-review {  
        background-color: $bg-color-white;    
    }
	// &-text-light{
	// 	color:$color-grey ;
	// }
	&-sub-heading-desc {
		font-size:12px;
	}
	&-header {
		// padding: 0 30px;
	}
}
