<div class="section">
	<!-- Left Section -->
	<div class="wrapper wrapper-desc">
		<div class="wrapper-box">
			<div class="wrapper-product-overview">
				<div class="wrapper-product-feature">
					<h3 class="wrapper-sub-heading text-red">iPhone 12 and iPhone 12 mini</h3>
					<h2 class="wrapper-main-heading">Blast past fast</h2>
					<p class="wrapper-content">A14 Bionic, the fastest chip in a smartphone.<br />
						An edge-to-edge OLED display. Ceramic Shield with four times better drop performance. And Night mode
						on
						every camera. iPhone 12 has it all — in two perfect sizes.
					</p>
					<div class="wrapper-product-info">
						<p class="wrapper-product-info-text">New Apple iPhone 12 (128GB)</p>
						<p class="wrapper-product-info-text">&#x20B9; 80,230.00</p>
					</div>
				</div>
				<app-carousel></app-carousel>
			</div>

			<div class="wrapper-product-content">
				<p class="wrapper-product-content-heading">New Apple iPhone 12 (128GB)</p>
				<ul>
					<li>6.1-inch (15.5 cm diagonal) Super Retina XDR display</li>
					<li>Ceramic Shield, tougher than any smartphone glass</li>
					<li>A14 Bionic chip, the fastest chip ever in a smartphone</li>
					<li>Advanced dual-camera system with 12MP Ultra Wide and Wide cameras; Night mode, Deep Fusion,
						Smart HDR 3, 4K Dolby Vision HDR recording
					</li>
					<li>12MP TrueDepth front camera with Night mode, 4K Dolby Vision HDR recording</li>
					<li>Industry-leading IP68 water resistance</li>
				</ul>
			</div>



		</div>

	</div>
	<!-- Right Section -->
	<div class="wrapper wrapper-review">
		<div class="wrapper-box">

			<h3 class="wrapper-sub-heading text-red">TOP REVIEWS</h3>
			<p class="wrapper-sub-heading-desc wrapper-text-light">Top reviews from India</p>
			<app-review></app-review>

			<app-form-payment></app-form-payment>
		</div>
	</div>
</div>