/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}

$bg-color-grey :#F7F7F7;
$bg-color-white : #FFFFFF;
$color-grey:#bdbcbc; 
// color codes
$color-red : #CE1351;
$bg-color-grey:#F7F7F7;

.text-red {
    color: $color-red;
}
ul{
    padding: 0;
    list-style: none;
}
.wrapper-text-light{
    color:$color-grey ;
}

